{% extends 'dsarhoyaBaseBundle:Admin:index.html.twig'%}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Facturas <small><a href="{{path('dsy_extension_get_clients')}}">clientes</a></small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr><th>Fecha</th><th>Cliente</th><th>Cantidad</th><th>Moneda</th><th>Comentario</th><th>Servicio</th><th></th></tr>
                    </thead>
                    <tbody>
                        {%for invoice in invoices%}
                            <tr>
                                <td>{{invoice.date|date('d-m-Y')}}</td>
                                <td>{{invoice.client.legalName}}</td>
                                <td>{{invoice.amount}}</td>
                                <td>{{invoice.currency}}</td>
                                <td>{{invoice.comment}}</td>
                                <td>{{invoice.serviceName}}</td>
                                <td>
                                    <a href="{{path('dsy_extension_get_invoices', {invoiceId: invoice.id})}}"><i class="fa fa-edit"></i></a>
                                    <a onclick="return confirm('Borrar la factura por {{invoice.amount}} {{invoice.currency}}? Esto no se puede deshacer')" href="{{path('dsy_extension_remove_invoice', {invoiceId: invoice.id})}}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            {{form(form)}}
            <a class="btn btn-danger" href="{{path('dsy_extension_get_invoices')}}">Cancelar</a>
        </div>
    </div>
            
    

{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('bundles/dsarhoyadsyinvoice/bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/dsarhoyadsyinvoice/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
    <script>
        $(function(){
            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true
            });
        });
    </script>
{% endblock %}