{% extends 'dsarhoyaBaseBundle:Admin:index.html.twig'%}
{% block content %}
        
    <div class="row">
        <div class="col-md-12">
            <h1>Clientes <small><a href="">crear</a></small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead><tr>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th></th>
                        </tr></thead>
                    <tbody>
                        {%for client in clients%}
                            <tr>
                                <td>{{client.legalName}}</td>
                                <td>{{client.legalId}}</td>
                                <td>
                                    <a href="{{path('dsy_extension_get_clients', {clientId: client.id})}}"><i class="fa fa-edit"></i></a>
                                    <a onclick="return confirm('Borrar al cliente {{client.legalName}}? Esto no se puede desahcer')" href="{{path('dsy_extension_remove_clients', {clientId: client.id})}}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            {{form(form)}}
            <a class="btn btn-danger" href="{{path('dsy_extension_get_clients')}}">Cancelar</a>
        </div>
    </div>
{% endblock %}